:root {
  font-size: 12px;
  --main-color: rgb(205, 215, 214);
  --second-color: rgb(16, 37, 66);
  --header-color: #b3a394;
  --font-color: #102542;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
